@page "/FirstReplication"
@using DIZZ_1.BackEnd
@using DIZZ_1.Components.Chart
@rendermode InteractiveServer
<h3>First Replication Bar Chart</h3>

<BarChart
    Title="First Replication"
    Data="MainApp.Instance.DailyCosts"
/>

@code {

}