@page "/tester"
@using DIZZ_1.BackEnd
@using DIZZ_1.BackEnd.Generators
@using DIZZ_1.BackEnd.Generators.Discrete
@using DIZZ_1.BackEnd.Generators.Empiric
@using DIZZ_1.BackEnd.Generators.Real
@using DIZZ_1.Components.Basic
@rendermode InteractiveServer

<h3>Tester</h3>

<div class="container-fluid mb-5">
    <div class="row">
        <GeneratorCard Headline="Discrete Uniform"
                       Initialize="InitializeUniformDiscreteGenerator"
                       Generator="MainApp.Instance.Generators.UniformDiscreteGenerator"
                       >
            <label>Min</label>
            <input @bind="MinUniDisc" step="1"/>

            <label>Max</label>
            <input @bind="MaxUniDisc" step="1"/>
        </GeneratorCard>

        <GeneratorCard Headline="Real Uniform"
                       Initialize="InitializeUniformRealGenerator"
                       Generator="MainApp.Instance.Generators.UniformRealGenerator"
                       >
            <label>Min</label>
            <input @bind="MinUniReal" step="0.1"/>

            <label>Max</label>
            <input @bind="MaxUniReal" step="0.1"/>
        </GeneratorCard>

        <GeneratorCard Headline="Real Empiric"
                       Initialize="InitializeEmpiricRealGenerator"
                       Generator="MainApp.Instance.Generators.UniformRealGenerator"
                       >
            <div class="container">
                @foreach (EmpiricDistrModel<double> row in _empiricRealRows)
                {
                    <div class="row">
                        <EmpiricRealRow
                            DistrModel="row"
                            OnRemove="@(() => RemoveRealRow(row))"
                            />
                    </div>
                }
                <div class="row">
                    <button class="btn btn-primary mt-2" @onclick="AddRealRow">Add random distribution</button>
                </div>
            </div>
        </GeneratorCard>


        <GeneratorCard Headline="Discrete Empiric"
                       Initialize="InitializeEmpiricDiscreteGenerator"
                       Generator="MainApp.Instance.Generators.UniformDiscreteGenerator"
                       >
            <div class="container">
                @foreach (EmpiricDistrModel<int> row in _empiricDiscreteRows)
                {
                    <div class="row">
                        <EmpiricDiscreteRow
                            DistrModel="row"
                            OnRemove="@(() => RemoveDiscreteRow(row))"
                        />
                    </div>
                }
                <div class="row">
                    <button class="btn btn-primary mt-2" @onclick="AddDiscreteRow">Add random distribution</button>
                </div>
            </div>
        </GeneratorCard>

    </div>


</div>

@code {
    public int MinUniDisc = 0;
    public int MaxUniDisc = 1;

    public Generator<int> InitializeUniformDiscreteGenerator()
    {
        MainApp.Instance.Generators.UniformDiscreteGenerator = new UniformDiscreteGenerator(MinUniDisc, MaxUniDisc);
        return MainApp.Instance.Generators.UniformDiscreteGenerator;
    }

    public double MinUniReal = 0.0;
    public double MaxUniReal = 1.0;

    private Generator<double> InitializeUniformRealGenerator()
    {
        MainApp.Instance.Generators.UniformRealGenerator = new UniformRealGenerator(MinUniReal, MaxUniReal);
        return MainApp.Instance.Generators.UniformRealGenerator;
    }

    private readonly List<EmpiricDistrModel<double>> _empiricRealRows = new();
    private readonly List<EmpiricDistrModel<int>> _empiricDiscreteRows = new();

    private void AddRealRow()
    {
        _empiricRealRows.Add(new EmpiricDistrModel<double>(new UniformRealGenerator(0.0, 100.0), 1.0));
    }

    private void RemoveRealRow(EmpiricDistrModel<double> row)
    {
        _empiricRealRows.Remove(row);
    }


    private void AddDiscreteRow()
    {
        _empiricDiscreteRows.Add(new EmpiricDistrModel<int>(new UniformDiscreteGenerator(0, 100), 1.0));
    }

    private void RemoveDiscreteRow(EmpiricDistrModel<int> row)
    {
        _empiricDiscreteRows.Remove(row);
    }

    private Generator<double> InitializeEmpiricRealGenerator()
    {
        EmpiricGenerator<double> gen = new(_empiricRealRows);

        EmpiricGenerator<double> generator = EmpiricGeneratorFactory.CreateRealGenerator(
        [
            (5.0, 10.0, 0.4),
            (10.0, 50.0, 0.3),
            (50.0, 70.0, 0.2),
            (70.0, 80.0, 0.06),
            (80.0, 95.0, 0.04)
        ]);
        MainApp.Instance.Generators.EmpiricRealGenerator = gen;
        Console.WriteLine(gen);
        return gen;
    }

    private Generator<int> InitializeEmpiricDiscreteGenerator()
    {
        EmpiricGenerator<int> gen = new(_empiricDiscreteRows);

        EmpiricGenerator<int> generator = EmpiricGeneratorFactory.CreateDiscreteGenerator(
        [
            (30, 60, 0.2),
            (60, 100, 0.4),
            (100, 140, 0.3),
            (140, 160, 0.1),
        ]);
        MainApp.Instance.Generators.EmpiricDiscreteGenerator = gen;
        Console.WriteLine(gen);
        return gen;
    }
}