@page "/Simulation"
@using System.Diagnostics
@using DIZZ_1.BackEnd
@using DIZZ_1.BackEnd.Simulation
@using DIZZ_1.BackEnd.Strategies
@rendermode InteractiveServer

<h3>Simulation</h3>

@if (MainApp.Instance.StrategiesHandler.HasStrategies())
{
    <div class=""></div>
    foreach (Strategy strategy in MainApp.Instance.StrategiesHandler.Strategies)
    {
        <button class="btn btn-primary m-2" @onclick="@(() => RunSimulation(strategy))">
            @strategy.Name
        </button>
    }
}
else
{
    <p>No strategies were found.</p>
}

@code {
    private void RunSimulation(Strategy strategy)
    {
        Main mainSimulation = new Main(strategy);
        Console.WriteLine("Started");
        Stopwatch watch = Stopwatch.StartNew();
        double solution = mainSimulation.Run(100_000);
        Console.WriteLine($"Finished");
        Console.WriteLine(watch.Elapsed);
        Console.WriteLine(solution);
    }
}