@using DIZZ_1.BackEnd.Generators
<button class="btn btn-primary mt-3" @onclick="DoTest">Run Test</button>
@if (_testReport != null)
{
    <textarea rows="10" class="form-control mt-3">
        @_testReport
    </textarea>
}

@typeparam T
@code {
    [Parameter, EditorRequired] public required Generator<T>? Generator { get; set; }
    private string? _testReport = null;

    private void DoTest()
    {
        if (Generator is null || Generator.GetTester() is null)
        {
            _testReport = "Generator or generator's tester is null";
        }

        string? testReport = Generator?.GetTester()?.DoTest(Generator);
        _testReport = testReport ?? "Test failed";
    }
}